@model IEnumerable<ExpressVoitures.ViewModels.VoitureVM>

@{
    ViewData["Title"] = "Index";
}

<p class="mt-4 text-center">
    <a class="btn btn-outline-info" asp-action="Create">Créer une nouvelle Voiture</a> |
    <a class="text-decoration-none text-danger" asp-controller="Marges">Modifier la marge par voiture qui est minimum de 500 € (et actuelement de @Model.FirstOrDefault()?.DerniereMargeParVoiture() €)</a>
</p>


 <div class="table-responsive-sm">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>
                Code Vin
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voiture.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voiture.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voiture.Modele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voiture.Finition)
            </th>
            <th>
                Date Achat
            </th>
            <th>
                Prix d' Achat
            </th>
            <th>
                total des réparations
            </th>
            <th>
                Date Disponibilite de Vente
            </th>
            <th>
                Prix de Vente
            </th>
            <th>
                Date de Vente
            </th>
            <th>
                Statut
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.CodeVin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.Annee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.Marque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.Modele)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.Finition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.DateAchat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.PrixAchat) €
                </td>
                <td>
                    @item.TotalReparation €
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.DateDisponibiliteDeVente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.PrixDeVente) €
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.DateDeVente)
                </td>
                <td>
                    @item.StatutVoiture
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Voiture.Id">Modification</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Voiture.Id">Suppression</a> |
                    <a class="btn btn-outline-secondary" asp-controller="Reparations" asp-action="Index" asp-route-idVoiture="@item.Voiture.Id">Réparation</a> |
                    <a class="btn btn-outline-info" asp-controller="Annonces" asp-action="Index" asp-route-idVoiture="@item.Voiture.Id">Annonce</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
@* Page up *@
<div class="text-end me-5">
    <a href="#top" class="btn btn-outline-dark sticky-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
        </svg>
    </a>
</div>

