@model ExpressVoitures.Models.VoitureImage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VoitureImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdAnnonce" />
            <input type="hidden" asp-for="LienPhoto" />
            <input type="hidden" name="idVoiture" value="@ViewData["idVoiture"]" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success" asp-route-id="@ViewData["idAnnonce"]" asp-route-idVoiture="@ViewData["idVoiture"]" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-info" asp-action="Edit" asp-controller="Annonces" asp-route-id="@Model.IdAnnonce" asp-route-idVoiture="@ViewData["idVoiture"]">Retour à l'édition de l'annonce</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
